In [1]:
import pandas as pd

In [12]:
pd.Series([100,200,300,400,500,600])

0    100
1    200
2    300
3    400
4    500
5    600
dtype: int64

In [16]:
df1=pd.DataFrame([[100,200,300,400,500],["AAA","BBB","CCC","DDD","EEE"]])

In [17]:
df1

     0    1    2    3    4
0  100  200  300  400  500
1  AAA  BBB  CCC  DDD  EEE

In [19]:
df1[2]

0    300
1    CCC
Name: 2, dtype: object

In [20]:
df1[2][1]

'CCC'

In [30]:
a = 111
an = 'ARJUN'
b = 222
bn = "Raj"
c = 333
cn = "Rahul"

In [33]:
df_std=pd.DataFrame([[a,an,"Hyd"],[b,bn,"Del"],[c,cn,"Viz"]])

In [34]:
df_std

     0      1    2
0  111  ARJUN  Hyd
1  222    Raj  Del
2  333  Rahul  Viz

In [35]:
df_std[2]

0    Hyd
1    Del
2    Viz
Name: 2, dtype: object

In [36]:
df_std[[2]]

     2
0  Hyd
1  Del
2  Viz

In [37]:
type(df_std[2])

pandas.core.series.Series

In [38]:
type(df_std[[2]])

pandas.core.frame.DataFrame

In [40]:
#DF With SCALER

In [43]:
df_scaler=pd.DataFrame(9,index=[1,2,3,4,5],columns=["col1","col2","col3"])

In [44]:
df_scaler

   col1  col2  col3
1     9     9     9
2     9     9     9
3     9     9     9
4     9     9     9
5     9     9     9

In [45]:
df_scaler["col2"]

1    9
2    9
3    9
4    9
5    9
Name: col2, dtype: int64

In [46]:
list1=["apple","mango","banana","Orange","Red"]

In [47]:
list1

['apple', 'mango', 'banana', 'Orange', 'Red']

In [60]:
df_fruits=pd.DataFrame(list1,index=["a","m","b","o","R"],columns=["Fruits"])

In [61]:
df_fruits

   Fruits
a   apple
m   mango
b  banana
o  Orange
R     Red