In [2]:
import pandas as pd
import numpy as np

In [3]:
dfsales=pd.read_csv(r"C:\Users\admin\Desktop\Pandas\arjun srikant pandas\Groupyb_Sales.csv")

In [4]:
dfsales

           Date Region                 Type  Units      Sales
0     7/11/2020   East  Children's Clothing   18.0    $306.00
1     9/23/2020  North  Children's Clothing   14.0    $448.00
2      4/2/2020  South     Women's Clothing   17.0    $425.00
3     2/28/2020   East  Children's Clothing   26.0    $832.00
4     3/19/2020   West     Women's Clothing    3.0     $33.00
..          ...    ...                  ...    ...        ...
995   2/11/2020   East  Children's Clothing   35.0    $735.00
996  12/25/2020  North       Men's Clothing    NaN  $1,155.00
997   8/31/2020  South       Men's Clothing   13.0    $208.00
998   8/23/2020  South     Women's Clothing   17.0    $493.00
999   8/17/2020  North     Women's Clothing   25.0    $300.00

[1000 rows x 5 columns]

In [5]:
dfsales["Sales"]=dfsales["Sales"].str.replace("$","",regex=False)

In [6]:
dfsales["Sales"]

0        306.00
1        448.00
2        425.00
3        832.00
4         33.00
         ...
995      735.00
996    1,155.00
997      208.00
998      493.00
999      300.00
Name: Sales, Length: 1000, dtype: object

In [7]:
dfsales

           Date Region                 Type  Units     Sales
0     7/11/2020   East  Children's Clothing   18.0    306.00
1     9/23/2020  North  Children's Clothing   14.0    448.00
2      4/2/2020  South     Women's Clothing   17.0    425.00
3     2/28/2020   East  Children's Clothing   26.0    832.00
4     3/19/2020   West     Women's Clothing    3.0     33.00
..          ...    ...                  ...    ...       ...
995   2/11/2020   East  Children's Clothing   35.0    735.00
996  12/25/2020  North       Men's Clothing    NaN  1,155.00
997   8/31/2020  South       Men's Clothing   13.0    208.00
998   8/23/2020  South     Women's Clothing   17.0    493.00
999   8/17/2020  North     Women's Clothing   25.0    300.00

[1000 rows x 5 columns]

In [8]:
dfsales["Sales"].apply(type)

0      <class 'str'>
1      <class 'str'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
           ...
995    <class 'str'>
996    <class 'str'>
997    <class 'str'>
998    <class 'str'>
999    <class 'str'>
Name: Sales, Length: 1000, dtype: object

In [10]:
dfsales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1000 non-null   object
 1   Region  1000 non-null   object
 2   Type    1000 non-null   object
 3   Units   911 non-null    float64
 4   Sales   1000 non-null   object
dtypes: float64(1), object(4)
memory usage: 39.2+ KB

In [14]:
dfsales=dfsales["Sales"].astype(float64)

NameError: name 'float64' is not defined

In [15]:
dfsalessales

NameError: name 'dfsalessales' is not defined