In [1]:
import pandas as pd
import numpy as np

In [2]:
dfiris=pd.read_csv(r"C:\Users\admin\Desktop\DATA SCIENCE\Machine Leaarning\machine learning dataset\Iris.csv")

In [3]:
dfiris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
dfiris.drop("Id",axis=1,inplace=True)

In [17]:
from sklearn.preprocessing import OrdinalEncoder

In [18]:
or1=OrdinalEncoder()

In [32]:
ary1=or1.fit_transform(dfiris[["Species"]])

In [36]:
dfencode=pd.DataFrame(ary1,columns=["Target"])

In [37]:
dfencode

     Target
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
..      ...
145     2.0
146     2.0
147     2.0
148     2.0
149     2.0

[150 rows x 1 columns]

In [39]:
df=pd.concat([dfiris,dfencode],axis=1)

In [40]:
df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Target
0,5.1,3.5,1.4,0.2,Iris-setosa,0.0
1,4.9,3.0,1.4,0.2,Iris-setosa,0.0
2,4.7,3.2,1.3,0.2,Iris-setosa,0.0
3,4.6,3.1,1.5,0.2,Iris-setosa,0.0
4,5.0,3.6,1.4,0.2,Iris-setosa,0.0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,2.0
146,6.3,2.5,5.0,1.9,Iris-virginica,2.0
147,6.5,3.0,5.2,2.0,Iris-virginica,2.0
148,6.2,3.4,5.4,2.3,Iris-virginica,2.0
149,5.9,3.0,5.1,1.8,Iris-virginica,2.0

In [41]:
df.drop("Species",axis=1,inplace=True)

In [42]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Target
0              5.1           3.5            1.4           0.2     0.0
1              4.9           3.0            1.4           0.2     0.0
2              4.7           3.2            1.3           0.2     0.0
3              4.6           3.1            1.5           0.2     0.0
4              5.0           3.6            1.4           0.2     0.0
..             ...           ...            ...           ...     ...
145            6.7           3.0            5.2           2.3     2.0
146            6.3           2.5            5.0           1.9     2.0
147            6.5           3.0            5.2           2.0     2.0
148            6.2           3.4            5.4           2.3     2.0
149            5.9           3.0            5.1           1.8     2.0

[150 rows x 5 columns]

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
X=df.drop("Target",axis=1)

In [45]:
y=df["Target"]

In [46]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.20)

In [47]:
from sklearn.tree import DecisionTreeClassifier

In [48]:
dtr=DecisionTreeClassifier()

In [49]:
from sklearn.preprocessing import StandardScaler

In [50]:
ss=StandardScaler()

In [51]:
ss.fit(Xtrain)

StandardScaler()

In [52]:
Xtrain_ss=ss.transform(Xtrain)

In [53]:
Xtest_ss=ss.transform(Xtest)

In [54]:
dtr.fit(Xtrain,ytrain)

DecisionTreeClassifier()

In [55]:
dtr.score(Xtest,ytest)

0.9333333333333333

In [56]:
dtr1=DecisionTreeClassifier()

In [57]:
dtr1.fit(Xtrain_ss,ytrain)

DecisionTreeClassifier()