In [2]:
import pandas as pd
import numpy as np

In [10]:
dfcust=pd.read_csv(r"C:\Users\admin\Desktop\Pandas\arjun srikant pandas\One Hot Encoding\cust_recom.csv")

In [11]:
dfcust

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [12]:
dfcust["education"].unique()

array(['School', 'UG', 'PG'], dtype=object)

In [13]:
dfdummy=pd.get_dummies(dfcust["education"],drop_first=True)

In [14]:
dfdummy

    School  UG
0        1   0
1        0   1
2        0   0
3        0   0
4        0   1
5        1   0
6        1   0
7        1   0
8        0   1
9        0   1
10       0   1
11       0   1
12       1   0
13       1   0
14       0   0
15       0   1
16       0   1
17       0   1
18       1   0
19       0   0
20       1   0
21       0   0
22       0   0
23       1   0
24       0   0
25       1   0
26       0   0
27       0   0
28       1   0
29       0   1
30       0   1
31       1   0
32       0   1
33       0   0
34       1   0
35       1   0
36       0   1
37       0   0
38       1   0
39       0   0
40       1   0
41       0   0
42       0   0
43       0   0
44       0   1
45       0   0
46       0   0
47       0   0
48       0   1
49       0   1

In [15]:
dfencode=pd.concat([dfcust,dfdummy],axis=1)

In [17]:
dfencode.drop("education",axis=1)

    age  gender   review purchased  School  UG
0    30  Female  Average        No       1   0
1    68  Female     Poor        No       0   1
2    70  Female     Good        No       0   0
3    72  Female     Good        No       0   0
4    16  Female  Average        No       0   1
5    31  Female  Average       Yes       1   0
6    18    Male     Good        No       1   0
7    60  Female     Poor       Yes       1   0
8    65  Female  Average        No       0   1
9    74    Male     Good       Yes       0   1
10   98  Female     Good       Yes       0   1
11   74    Male     Good       Yes       0   1
12   51    Male     Poor        No       1   0
13   57  Female  Average        No       1   0
14   15    Male     Poor       Yes       0   0
15   75    Male     Poor        No       0   1
16   59    Male     Poor       Yes       0   1
17   22  Female     Poor       Yes       0   1
18   19    Male     Good        No       1   0
19   97    Male     Poor       Yes       0   0
20   57  Female  Average       Yes       1   0
21   32    Male  Average        No       0   0
22   18  Female     Poor       Yes       0   0
23   96  Female     Good        No       1   0
24   16  Female  Average       Yes       0   0
25   57  Female     Good        No       1   0
26   53  Female     Poor        No       0   0
27   69  Female     Poor        No       0   0
28   48    Male     Poor        No       1   0
29   83  Female  Average       Yes       0   1
30   73    Male  Average        No       0   1
31   22  Female     Poor       Yes       1   0
32   92    Male  Average       Yes       0   1
33   89  Female     Good       Yes       0   0
34   86    Male  Average        No       1   0
35   74    Male     Poor       Yes       1   0
36   34  Female     Good       Yes       0   1
37   94    Male  Average       Yes       0   0
38   45  Female     Good        No       1   0
39   76    Male     Poor        No       0   0
40   39    Male     Good        No       1   0
41   23    Male     Good       Yes       0   0
42   30  Female     Good       Yes       0   0
43   27    Male     Poor        No       0   0
44   77  Female  Average        No       0   1
45   61    Male     Poor       Yes       0   0
46   64  Female     Poor        No       0   0
47   38  Female     Good       Yes       0   0
48   39  Female     Good       Yes       0   1
49   25  Female     Good        No       0   1

In [18]:
dfdummy1=pd.get_dummies(dfcust["review"])

In [20]:
dfdummy1

    Average  Good  Poor
0         1     0     0
1         0     0     1
2         0     1     0
3         0     1     0
4         1     0     0
5         1     0     0
6         0     1     0
7         0     0     1
8         1     0     0
9         0     1     0
10        0     1     0
11        0     1     0
12        0     0     1
13        1     0     0
14        0     0     1
15        0     0     1
16        0     0     1
17        0     0     1
18        0     1     0
19        0     0     1
20        1     0     0
21        1     0     0
22        0     0     1
23        0     1     0
24        1     0     0
25        0     1     0
26        0     0     1
27        0     0     1
28        0     0     1
29        1     0     0
30        1     0     0
31        0     0     1
32        1     0     0
33        0     1     0
34        1     0     0
35        0     0     1
36        0     1     0
37        1     0     0
38        0     1     0
39        0     0     1
40        0     1     0
41        0     1     0
42        0     1     0
43        0     0     1
44        1     0     0
45        0     0     1
46        0     0     1
47        0     1     0
48        0     1     0
49        0     1     0

In [24]:
encode1=pd.concat([dfcust,dfdummy1],axis=1)

In [29]:
encode1.drop("review",axis=1,inplace=True)

In [32]:
dfdummy

    School  UG
0        1   0
1        0   1
2        0   0
3        0   0
4        0   1
5        1   0
6        1   0
7        1   0
8        0   1
9        0   1
10       0   1
11       0   1
12       1   0
13       1   0
14       0   0
15       0   1
16       0   1
17       0   1
18       1   0
19       0   0
20       1   0
21       0   0
22       0   0
23       1   0
24       0   0
25       1   0
26       0   0
27       0   0
28       1   0
29       0   1
30       0   1
31       1   0
32       0   1
33       0   0
34       1   0
35       1   0
36       0   1
37       0   0
38       1   0
39       0   0
40       1   0
41       0   0
42       0   0
43       0   0
44       0   1
45       0   0
46       0   0
47       0   0
48       0   1
49       0   1

In [33]:
maincust=pd.concat([encode1,dfdummy],axis=1)

In [34]:
maincust

    age  gender education purchased  Average  Good  Poor  School  UG
0    30  Female    School        No        1     0     0       1   0
1    68  Female        UG        No        0     0     1       0   1
2    70  Female        PG        No        0     1     0       0   0
3    72  Female        PG        No        0     1     0       0   0
4    16  Female        UG        No        1     0     0       0   1
5    31  Female    School       Yes        1     0     0       1   0
6    18    Male    School        No        0     1     0       1   0
7    60  Female    School       Yes        0     0     1       1   0
8    65  Female        UG        No        1     0     0       0   1
9    74    Male        UG       Yes        0     1     0       0   1
10   98  Female        UG       Yes        0     1     0       0   1
11   74    Male        UG       Yes        0     1     0       0   1
12   51    Male    School        No        0     0     1       1   0
13   57  Female    School        No        1     0     0       1   0
14   15    Male        PG       Yes        0     0     1       0   0
15   75    Male        UG        No        0     0     1       0   1
16   59    Male        UG       Yes        0     0     1       0   1
17   22  Female        UG       Yes        0     0     1       0   1
18   19    Male    School        No        0     1     0       1   0
19   97    Male        PG       Yes        0     0     1       0   0
20   57  Female    School       Yes        1     0     0       1   0
21   32    Male        PG        No        1     0     0       0   0
22   18  Female        PG       Yes        0     0     1       0   0
23   96  Female    School        No        0     1     0       1   0
24   16  Female        PG       Yes        1     0     0       0   0
25   57  Female    School        No        0     1     0       1   0
26   53  Female        PG        No        0     0     1       0   0
27   69  Female        PG        No        0     0     1       0   0
28   48    Male    School        No        0     0     1       1   0
29   83  Female        UG       Yes        1     0     0       0   1
30   73    Male        UG        No        1     0     0       0   1
31   22  Female    School       Yes        0     0     1       1   0
32   92    Male        UG       Yes        1     0     0       0   1
33   89  Female        PG       Yes        0     1     0       0   0
34   86    Male    School        No        1     0     0       1   0
35   74    Male    School       Yes        0     0     1       1   0
36   34  Female        UG       Yes        0     1     0       0   1
37   94    Male        PG       Yes        1     0     0       0   0
38   45  Female    School        No        0     1     0       1   0
39   76    Male        PG        No        0     0     1       0   0
40   39    Male    School        No        0     1     0       1   0
41   23    Male        PG       Yes        0     1     0       0   0
42   30  Female        PG       Yes        0     1     0       0   0
43   27    Male        PG        No        0     0     1       0   0
44   77  Female        UG        No        1     0     0       0   1
45   61    Male        PG       Yes        0     0     1       0   0
46   64  Female        PG        No        0     0     1       0   0
47   38  Female        PG       Yes        0     1     0       0   0
48   39  Female        UG       Yes        0     1     0       0   1
49   25  Female        UG        No        0     1     0       0   1

In [35]:
from sklearn.preprocessing import OneHotEncoder

In [36]:
ohe=OneHotEncoder()

In [37]:
ohe

OneHotEncoder()

In [38]:
dfcust

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [39]:
ohe.fit(dfcust[["education"]])

OneHotEncoder()

In [ ]:
ohe.