In [3]:
import pandas as pd
import numpy as np

In [4]:
dfwh=pd.read_csv(r"C:\Users\admin\Desktop\Pandas\arjun srikant pandas\machine learning dataset\weight-height.csv")

In [5]:
dfwh

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [6]:
dfwh["Height"]

0       73.847017
1       68.781904
2       74.110105
3       71.730978
4       69.881796
          ...
9995    66.172652
9996    67.067155
9997    63.867992
9998    69.034243
9999    61.944246
Name: Height, Length: 10000, dtype: float64

In [7]:
m=dfwh["Height"].mean()

In [8]:
sd=dfwh["Height"].std()

In [9]:
dfwh["Height"].describe()

count    10000.000000
mean        66.367560
std          3.847528
min         54.263133
25%         63.505620
50%         66.318070
75%         69.174262
max         78.998742
Name: Height, dtype: float64

In [24]:
low=m-(3*sd)
low

54.82497539250136

In [11]:
high=m+(3*sd)

In [13]:
dfwh_height=(dfwh["Height"] < low) | (dfwh["Height"] > high)

In [17]:
dfwh_height=pd.DataFrame(dfwh_height)

In [23]:
dfwh_height

      Height
0      False
1      False
2      False
3      False
4      False
...      ...
9995   False
9996   False
9997   False
9998   False
9999   False

[10000 rows x 1 columns]

In [21]:
((dfwh["Height"] > low) | (dfwh["Height"] < high)).sum()

10000