In [1]:
import pandas as pd 
import numpy as np

In [2]:
dftrain=pd.read_csv(r"C:\Users\admin\Desktop\DATA SCIENCE\Machine Learning\machine learning dataset\IMDB\IMDB\Train.csv")

In [3]:
dftrain

                                                    text  label
0      I grew up (b. 1965) watching and loving the Th...      0
1      When I put this movie in my DVD player, and sa...      0
2      Why do people who do not know what a particula...      0
3      Even though I have great interest in Biblical ...      0
4      Im a die hard Dads Army fan and nothing will e...      1
...                                                  ...    ...
39995  "Western Union" is something of a forgotten cl...      1
39996  This movie is an incredible piece of work. It ...      1
39997  My wife and I watched this movie because we pl...      0
39998  When I first watched Flatliners, I was amazed....      1
39999  Why would this film be so good, but only gross...      1

[40000 rows x 2 columns]

In [4]:
dftest=pd.read_csv(r"C:\Users\admin\Desktop\DATA SCIENCE\Machine Learning\machine learning dataset\IMDB\IMDB\Test.csv")

In [5]:
dftest

                                                   text  label
0     I always wrote this series off as being a comp...      0
1     1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...      0
2     This movie was so poorly written and directed ...      0
3     The most interesting thing about Miryang (Secr...      1
4     when i first read about "berlin am meer" i did...      0
...                                                 ...    ...
4995  This is the kind of picture John Lassiter woul...      1
4996  A MUST SEE! I saw WHIPPED at a press screening...      1
4997  NBC should be ashamed. I wouldn't allow my chi...      0
4998  This movie is a clumsy mishmash of various gho...      0
4999  Formula movie about the illegitimate son of a ...      0

[5000 rows x 2 columns]

In [6]:
Xtrain=dftrain["text"]

In [7]:
ytrain=dftrain["label"]

In [8]:
Xtest=dftest["text"]

In [9]:
ytest=dftest["label"]

In [10]:
Xtrain.shape

(40000,)

In [11]:
ytrain.shape

(40000,)

In [12]:
Xtest.shape

(5000,)

In [13]:
ytest.shape

(5000,)

In [14]:
from sklearn.pipeline import make_pipeline

In [15]:
from sklearn.feature_extraction.text import CountVectorizer

In [16]:
cvec=CountVectorizer()

In [17]:
from sklearn.feature_extraction.text import TfidfTransformer

In [18]:
tfidf=TfidfTransformer()

In [19]:
from sklearn.naive_bayes import MultinomialNB

In [21]:
pipe_model=make_pipeline(CountVectorizer(),TfidfTransformer(),MultinomialNB())

In [22]:
pipe_model.fit(Xtrain,ytrain)

Pipeline(steps=[('countvectorizer', CountVectorizer()),
                ('tfidftransformer', TfidfTransformer()),
                ('multinomialnb', MultinomialNB())])

In [23]:
pipe_model.score(Xtest,ytest)

0.867