In [25]:
import pandas as pd
import numpy as np

In [26]:
df=pd.read_csv(r"C:\Users\admin\Desktop\Pandas\arjun srikant pandas\machine learning dataset\Melbourne_housing_FULL.csv")

In [27]:
df

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,h,1480000.0,PI,Jas,6.3,4.0,1.0,3.0,593.0,NaN,Maribyrnong City Council,Western Metropolitan,6543.0
34853,Yarraville,2,h,888000.0,SP,Sweeney,6.3,2.0,2.0,1.0,98.0,104.0,Maribyrnong City Council,Western Metropolitan,6543.0
34854,Yarraville,2,t,705000.0,S,Jas,6.3,2.0,1.0,2.0,220.0,120.0,Maribyrnong City Council,Western Metropolitan,6543.0
34855,Yarraville,3,h,1140000.0,SP,hockingstuart,6.3,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,Western Metropolitan,6543.0
34856,Yarraville,2,h,1020000.0,PI,RW,6.3,2.0,1.0,0.0,250.0,103.0,Maribyrnong City Council,Western Metropolitan,6543.0

In [28]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

In [29]:
df.columns

Index(['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Distance',
       'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea',
       'CouncilArea', 'Regionname', 'Propertycount'],
      dtype='object')

In [30]:
cols=['Distance',
       'Bedroom2', 'Bathroom', 'Car', 'Propertycount']

In [31]:
df[cols]=df[cols].fillna(0)

In [32]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             0
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        0
dtype: int64

In [33]:
df["Landsize"].mean()

593.598993361392

In [34]:
df["Landsize"]=df["Landsize"].fillna(df["Landsize"].mean())

In [35]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             0
Bedroom2             0
Bathroom             0
Car                  0
Landsize             0
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        0
dtype: int64

In [36]:
df["BuildingArea"]=df["BuildingArea"].fillna(df["BuildingArea"].mean())

In [37]:
df.isna().sum()

Suburb              0
Rooms               0
Type                0
Price            7610
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
CouncilArea         3
Regionname          3
Propertycount       0
dtype: int64

In [38]:
df.isna().sum()

Suburb              0
Rooms               0
Type                0
Price            7610
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
CouncilArea         3
Regionname          3
Propertycount       0
dtype: int64

In [39]:
df=df.dropna()

In [40]:
df.isna().sum()

Suburb           0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
CouncilArea      0
Regionname       0
Propertycount    0
dtype: int64

In [52]:
df2=pd.get_dummies(df)

In [53]:
X=df2.drop("Price",axis=1)

In [54]:
y=df2["Price"]

In [47]:
from sklearn.model_selection import train_test_split

In [55]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.30)

In [56]:
from sklearn.linear_model import LinearRegression

In [57]:
lr=LinearRegression()

In [58]:
lr.fit(Xtrain,ytrain)

LinearRegression()

In [59]:
lr.score(Xtest,ytest)

-97552184044.59563

In [60]:
from sklearn.linear_model import Lasso

In [78]:
ls=Lasso(alpha=50,max_iter=50,tol=0.1)

In [79]:
ls.fit(Xtrain,ytrain)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1265733747638480.2, tolerance: 778070903092425.8
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=50, max_iter=50, tol=0.1)

In [80]:
ls.score(Xtest,ytest)

0.6524507468029113

In [81]:
from sklearn.linear_model import Ridge

In [84]:
rd=Ridge(alpha=50,max_iter=50,tol=0.1)

In [85]:
rd.fit(Xtrain,ytrain)

Ridge(alpha=50, max_iter=50, tol=0.1)

In [87]:
rd.score(Xtest,ytest)

0.6515760813611762

In [88]:
a=[100,200,300,400,500,600]
mt=[100,200,300,400,500,600]
t=[1,0.01,0.1,0.001,0.00001]

In [ ]:
from sk