In [1]:
import pandas as pd 
import numpy as np

In [4]:
df=pd.read_csv(r"C:\Users\admin\Desktop\Pandas\arjun srikant pandas\machine learning dataset\Salarypredict_multi.csv")

In [5]:
df

   experience  test_score  interview_score  salary($)
0           2           8                9      50000
1           3           8                6      45000
2           5           6                7      60000
3           2          10               10      65000
4           7           9                6      70000
5           3           7               10      62000
6          10           8                7      72000
7          11           7                8      80000

In [7]:
X=df.drop("salary($)",axis=1)

In [8]:
y=df["salary($)"]

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
lr=LinearRegression()

In [11]:
from sklearn.model_selection import train_test_split

In [22]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.50)

In [23]:
lr.fit(Xtrain,ytrain)

LinearRegression()

In [24]:
lr.score(Xtest,ytest)

0.41939997530762607