In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\admin\Desktop\Pandas\arjun srikant pandas\machine learning dataset\jobselection.csv")

In [3]:
df

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [4]:
df.isnull().sum()

cgpa       0
package    0
dtype: int64

In [5]:
X=df[["cgpa"]]

In [6]:
y=df["package"]

In [7]:
y

0      3.26
1      1.98
2      3.25
3      3.67
4      3.57
       ...
195    2.46
196    2.57
197    3.24
198    3.96
199    2.33
Name: package, Length: 200, dtype: float64

In [8]:
X

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split

In [33]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.40)

In [34]:
Xtrain.shape

(120, 1)

In [35]:
Xtest

     cgpa
68   7.56
130  6.68
127  6.78
164  9.06
39   7.43
..    ...
87   8.09
32   6.96
29   7.15
51   9.26
40   9.38

[80 rows x 1 columns]

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
lreg=LinearRegression()

In [38]:
lreg

LinearRegression()

In [39]:
lreg.fit(Xtrain,ytrain)

LinearRegression()

In [40]:
lreg.score(Xtest,ytest)

0.8327027638102009

In [41]:
from sklearn  import metrics

In [42]:
metrics.r2_score(ytrain)

ValueError: Found input variables with inconsistent numbers of samples: [120, 80]