In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
dfsocial=pd.read_csv(r"C:\Users\admin\Desktop\Pandas\arjun srikant pandas\machine learning dataset\social.csv")

In [3]:
dfsocial

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dfsocial.drop("User ID",axis=1,inplace=True)

In [5]:
dfsocial

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [6]:
df=pd.get_dummies(dfsocial,drop_first=True)

In [7]:
df

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [8]:
df[["Age","Gender_Male","EstimatedSalary","Purchased"]]

     Age  Gender_Male  EstimatedSalary  Purchased
0     19            1            19000          0
1     35            1            20000          0
2     26            0            43000          0
3     27            0            57000          0
4     19            1            76000          0
..   ...          ...              ...        ...
395   46            0            41000          1
396   51            1            23000          1
397   50            0            20000          1
398   36            1            33000          0
399   49            0            36000          1

[400 rows x 4 columns]

In [9]:
X=df.drop('Purchased',axis=1)

In [10]:
y=df["Purchased"]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.20)

In [13]:
from sklearn.svm import SVC

In [14]:
svm=SVC()

In [15]:
svm.fit(Xtrain,ytrain)

SVC()

In [16]:
svm.score(Xtest,ytest)

0.725

### Standardization

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
ss=StandardScaler()

In [19]:
ss.fit(Xtrain)

StandardScaler()

In [20]:
Xtrain_ss=ss.transform(Xtrain)

In [21]:
Xtest_ss=ss.transform(Xtest)

In [22]:
from sklearn.svm import SVC

In [23]:
svm1=SVC()

In [24]:
svm1.fit(Xtrain_ss,ytrain)

SVC()

In [25]:
svm1.score(Xtest_ss,ytest)

0.9125

In [26]:
from sklearn.model_selection import KFold,cross_val_score

In [27]:
kf=KFold(n_splits=10)

In [28]:
svc2=SVC()

In [29]:
svc2

SVC()

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
stsc=StandardScaler()

In [32]:
stsc.fit(X)

StandardScaler()

In [33]:
ss_X=stsc.transform(X)

In [34]:
ss_X

array([[-1.78179743, -1.49004624,  1.02020406],
       [-0.25358736, -1.46068138,  1.02020406],
       [-1.11320552, -0.78528968, -0.98019606],
       ...,
       [ 1.17910958, -1.46068138, -0.98019606],
       [-0.15807423, -1.07893824,  1.02020406],
       [ 1.08359645, -0.99084367, -0.98019606]])

In [35]:
svm_kfold_score=cross_val_score(svc2,ss_X,y,cv=kf)

In [36]:
svm_kfold_score.mean()

0.9075

In [37]:
from sklearn.model_selection import KFold,cross_val_score

In [38]:
kf1=KFold(n_splits=10)

In [39]:
svcrbf1=SVC(kernel="rbf")

In [40]:
svclin1=SVC(kernel="linear")

In [41]:
svcsig1=SVC(kernel="sigmoid")

In [42]:
svcpoly1=SVC(kernel="poly")

In [43]:
algo=[svcrbf1,svclin1,svcsig1,svcpoly1]

In [44]:
for m in algo:
    print(m)

SVC()
SVC(kernel='linear')
SVC(kernel='sigmoid')
SVC(kernel='poly')

In [45]:
from sklearn.preprocessing import StandardScaler
std1=StandardScaler()

In [46]:
X_std1=std1.fit_transform(X)

In [47]:
for model in algo:
    res=cross_val_score(model,X_std1,y,cv=kf1)
    print("score of ",model,"is",res.mean())

score of  SVC() is 0.9075
score of  SVC(kernel='linear') is 0.8200000000000001
score of  SVC(kernel='sigmoid') is 0.7975
score of  SVC(kernel='poly') is 0.8300000000000001

In [48]:
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV

In [49]:
svc_grid=SVC()

In [50]:
dict={
    "kernel":["rbf","linear","sigmoid","poly"],
    "C":[1.0,5.0,20.0,50.0]
}

In [51]:
dict

{'kernel': ['rbf', 'linear', 'sigmoid', 'poly'], 'C': [1.0, 5.0, 20.0, 50.0]}

In [52]:
gd=GridSearchCV(svc_grid,param_grid=dict,cv=10)

In [53]:
gd

GridSearchCV(cv=10, estimator=SVC(),
             param_grid={'C': [1.0, 5.0, 20.0, 50.0],
                         'kernel': ['rbf', 'linear', 'sigmoid', 'poly']})

In [54]:
gd.fit(X_std1,y)

GridSearchCV(cv=10, estimator=SVC(),
             param_grid={'C': [1.0, 5.0, 20.0, 50.0],
                         'kernel': ['rbf', 'linear', 'sigmoid', 'poly']})

In [55]:
gd.best_score_

0.905

In [56]:
gd.best_params_

{'C': 1.0, 'kernel': 'rbf'}

In [57]:
svc_random=SVC()

In [58]:
gf1=RandomizedSearchCV(svc_random,param_distributions=dict,cv=10)

In [59]:
gf1

RandomizedSearchCV(cv=10, estimator=SVC(),
                   param_distributions={'C': [1.0, 5.0, 20.0, 50.0],
                                        'kernel': ['rbf', 'linear', 'sigmoid',
                                                   'poly']})

In [60]:
gf1.fit(X_std1,y)

RandomizedSearchCV(cv=10, estimator=SVC(),
                   param_distributions={'C': [1.0, 5.0, 20.0, 50.0],
                                        'kernel': ['rbf', 'linear', 'sigmoid',
                                                   'poly']})

In [61]:
gf1.best_score_

0.905

In [62]:
gf1.best_params_

{'kernel': 'rbf', 'C': 1.0}